.Button {
  width: 100%;
  padding: 16px 0;
  border: none;
  font-size: var(--font-size-large);
  color: var(--color-text-contrast);
  margin-top: 16px;
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-small);
  background-color: var(--color-button-primary);
}