.Button {
  width: 100%;
  border: none;
  padding: 16px 0;
  margin-top: 16px;
  margin-bottom: 26px;
  font-size: var(--font-size-large);
  color: var(--color-text-contrast);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-small);
}

.Normal {
  background-color: var(--backgroundColor-button-primary);
}

.Confirmation {
  background-color: var(--backgroundColor-button-success);
}