.navbarButton {
  background-color: #fff;
  border: none;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  font-weight: 1000;
  color: #ccc;
}

.navbarLink {
  width: 100%;
  text-decoration: none;
}

.navbarButton:hover {
  color: #ff7800;
}

.current {
  color: #ff7800;
}

.navbar {
  display: flex;
  height: 36px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 29, 0.22);
}

@media screen and (max-width: 319px) {
  .navbar {
    flex-direction: column;
    height: 108px;
  }
}
