.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.styleb {
  height: 60px;
  width: 341px;
  border-radius: 3px;
  background-color: #ff6c00;
  box-shadow: inset 0 -3px 0 0 #d45a00, 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-align: center; 
  margin-top:10px
}

.styleb:hover {
  transition-duration: 300ms;
  background-color: #d45a00;
};
.styleb:checked {
  transition-duration: 300ms;
  background-color: #d45a00;
};

.styleb:focus {
  outline: none;
  box-shadow: none;
}

