.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.input-label {
  color: #ccc;
  font-size: 12px;
  line-height: 14px;
}

input {
  height: 45px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
}

input:focus,
input:focus-visible {
  border: 1px solid #a43287 impr !important;
}

.input-error {
  border: 1px solid #f30;
}

.error-message {
  font-size: 12px;
  line-height: 14px;
  color: #f30;
}
