@font-face {
    font-family: 'HelveticaNeue-ff';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/helveticaneue.ttf');
  }
  
  @font-face {
    font-family: 'HelveticaNeueBold-ff';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HelveticaNeueBold.woff');
  }
  