@import '../../assets/sass/colors';

.success {
  width: 100%;
  height: auto;
  padding: 12px 20px 20px;
  &__icon {
    max-width: 39px;
    margin: 0 auto 11px auto;
    display: block;
    position: relative;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $primaryColor;
    text-transform: uppercase;
  }
}
.card-information {
  width: 100%;
  height: auto;
  &__text {
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    line-height: 17px;
    margin-bottom: 2px;
  }
}
