body {
  margin: 0;
  padding: 0;
}

.summary-action {
  margin: 0 -6.53px;
  padding: 0 20px 24px;
  background-color: #fff;
}

.checkout-button {
  width: 100%;
  padding: 16px 8px;
  border-radius: 4px;
  border: 0;
  background: #9222DC;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
}
