@import '../button';

.cart {
    height: auto;
    width: calc(100% - 20px);

    @media (min-width: 1024px) {
        width: 40%;
    }

    > h6 {
        color: #999;	
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 14px;			
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
}
