.bag-product-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: min-content;
  background-color: #ffffff;
  padding: 24px;
  margin: 0 8px 16px 8px;
}

@media (min-width: 780px) {
  .bag-product-list {
    margin: 0 0 16px 0;
  }
}
