@import "styles";

.button {
    width: 100%;
    padding: 0.8em 0;
    background-color: $c-button-brand;
    border-bottom: 1px solid $c-button-brand-hover;
    border-radius: $s-radius;
    color: $c-text-light;
    font-size: rem(20);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: $c-button-brand-hover;
    }
    @include device(desktop) {
        grid-column: 6/9;
        grid-row: 5;
        align-self: start;
    }
}

.isDisabled,
.isDisabled:hover {
    background-color: $c-button-disabled;
    border-bottom: 1px solid $c-grey;
}
