.Payment {

  form {
    padding: 0 5px;

    .Row {

      .Col {
        input {
          width: 100%;
          margin-bottom: 15px;
          border: black solid 1px;
          box-sizing: border-box;
          height: 45px;
          border-radius: 3px;
          background-color: #FFF;
          border: 1px solid #E7E7E7;
          box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          font-size: 1.000em;
          color: #212121;
          padding: 0 10px;
          
          &::placeholder {
            color: #E0E7EE;
          }

          &:focus {
            border: #A43287 1px solid;
            color: #212121;
            outline: none;
          }
          &.Invalid {
            border: #F30 solid 1px;
            margin-bottom: 5px;
          }
          
        }
        
        label {
          font-size: 0.750em;
          color: #CCC;
          margin-bottom: 5px;
          display: block;
        }
      }

      &:nth-child(1) {}

      &:nth-child(2) {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

        .Col {
          flex: 1;

          &:nth-child(1) {
            padding: 0;
            padding-right: 10px;
          }

          &:nth-child(2) {
            padding-left: 10px;
          }
        }

      }
    }

    span {
      font-size: 0.750em;
      color: #F30;
    }
  }
}