.menu {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 8px;

  &__items {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 0;
  }
  .active{
    color: blue;
  }
}
