@import '../../sass/mixins.scss';

fieldset {
  @include box-base();
  padding: 56px 12px 40px;
  position: relative;
  font-style: normal;
  font-family: 'Arial';
  margin: 0;
  & legend {
    position: absolute;
    top: 16px;
    left: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
}

.cred-card-inputs {
  display: grid;
  grid-template-columns: repeat(1, 140px);;
  grid-column-gap: 12px;
  grid-row-gap: 20px;
  & label {
    @include tipografy-base(14px);
    display: flex;
    flex-direction: column;
    & input {
      @include tipografy-base(14px);
      box-sizing: border-box;
      height: 44px;
      margin-top: 5px;
      padding: 14px 13.89px;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      background: #FFFFFF;
      &::placeholder {
        color: #CCCCCC;
      }
    }
    & .input-error {
      border: 1px solid #DE1616;
    }
    & .error-message {
      margin: 0;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #DE1616;
    }
  }
}

.cred-card-number {
  grid-column-start: 1;
  grid-column-end: 3;
}

.name {
  grid-column-start: 1;
  grid-column-end: 3;
}