.cardForm {
  background-color: #fff;
  padding: 12px 10px 0 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 29, 0.22);
  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.formRow > *:first-child {
  margin-right: 16px;
}

@media screen and (max-width: 460px) {
  .formRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .formRow > *:first-child {
    margin-right: 0;
  }
}
