.bag-step {
  padding: 20px 6.53px 0;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scrollable-content {
  overflow-y: scroll;
}

.summary-action {
  margin: 0 -6.53px;
  padding: 0 20px 24px;
  background-color: #fff;
}