.container-fixed {
  margin: auto;
  max-width: 900px;
  background-color: #EEEEEE;
}

.row, section {
  margin: 10px 0;
}

.form-control {
  font-size: 15pt;
}

.form-control:focus {
  border: 1px solid #A43287;
  box-shadow: none;
}

.input-danger {
  border: 1px solid red;
}

.bold{
  font-weight: 700;
}

.pay {
  color: #212122;
  font-size: 13px;	
  padding: 10px;	
  line-height: 16px;
}

.pay p {
  font-size: 13.5px;
  margin: 0px;
}

.section {
  margin: 10px;
}

.labels {
  line-height: 40px;
  background-color: white;
  margin: auto 0;
  box-shadow: 0px 1px 3px rgba(0,0,0,.2);
}

.label {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #CCCCCC;
}

.title {
  font-weight: 500;
  color: rgb(145, 145, 145);
}

.item {
  display:table;
  border-radius: 3px;
  padding: 10px;
  height: 90px;
  border: 1px solid #EEE;
  margin: 10px auto;
}

.items {
  padding: 10px;
  margin: 0;
  background-color: white;
  box-shadow: 1px 1px 5px 0 rgba(0,0,29,0.22);
}

.item-description {
  font-size: 12px;
  padding: 0px 10px;
}

.icon {
  text-align: center;
  color: #FF7800;
}

.price {	
  font-size: 14px;	
  font-weight: 700;	
  text-align: right;
  margin: 0;
}

.btn {
  text-align: center;
  line-height: 40px;
  height: 60px;	
  background-color: #FF6C00;	
  color: #FFF;	
  font-size: 20px;
  font-weight: 500;	
  letter-spacing: 0.5px;	
}

.btn:hover {
  background-color: #D45A00;
}

.status {
  color: #212122;	
  font-size: 15px;	
  padding: 10px;
  line-height: 15px;
  border: 1px solid #CCC;
}

.field-description {
  height: 14px;	
  width: 262px;	
  color: #CCC;	
  font-size: 12px;	
  font-weight: 700;		
}

.inline-block {
  display: inline-block;
}

.w-40 {
  width: 40%;
}

.active {
  color: #FF7800;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right
}

.no-margin {
  margin: 0px;
}