@mixin tipografy-base() {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.26923081278800964px;
  color: #000000;
}

.billing-summary {
  @include tipografy-base();
  padding: 24px 0;
}

.products-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.shipping-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.discount-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  & span:last-child {
    font-weight: 700;
    color: #9222DC;
  }
}

.subtotal-row {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}