@import '../../sass/mixins.scss';

@mixin summary-row() {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.billing-summary {
  @include tipografy-base(14px);
  font-family: 'Helvetica Neue';
  padding: 24px 0;
}

.products-row {
  @include summary-row();
}

.shipping-row {
  @include summary-row();
}

.discount-row {
  @include summary-row();
  & span:last-child {
    font-weight: 700;
    color: #9222DC;
  }
}

.subtotal-row {
  @include summary-row();
  margin-bottom: 0;
  font-weight: 700;
}

.summary-action {
  margin: 0 -6.53px;
  padding: 0 20px 24px;
  background-color: #fff;
}