.cart-item {
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 11px 10px 14px 10px;
  display: flex;
}

.cart-item:not(:last-child) {
  margin-bottom: 15px;
}

.name-price {
  margin-left: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.price {
  text-align: end;
  font-weight: 700;
}

.image {
  display: block;
  margin-bottom: 2px;
}
