.summary {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 15px 13px 15px 13px;
  margin: 8px 1% 1% 1%;
}

.row {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.discount {
  color: #ff7800;
}

.total {
  font-weight: 700;
  margin-top: 16px;
}
