.summary {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 15px 13px 13px 14px;
  margin: 20px 0 20px 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row:not(:last-child) {
  margin-bottom: 8px;
}

.discount {
  color: #ff7800;
}

.total {
  font-weight: 700;
  margin-top: 16px;
}
