.summary {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 13px;
  margin: 1%;
  margin-top: 3%;
}

.row {
  margin-top: 9px;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
}

.discount {
  color: #ff7800;
}

.total {
  font-weight: 700;
}
