* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #eee;
}
html {
  font-size: 14px;
}

body {
  font-size: 1rem;
  letter-spacing: 0.2px;
}
