.cta {
  max-width: 600px;
  width: calc(100vw - 20px);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.cta .ctaButton {
  background-color: var(--primary);
  color: white;
  border: none;
  box-shadow: inset 0 -3px 0 0 var(--dark-orange), 0 2px 4px 0 rgba(0,0,0,0.25);
  max-width: 400px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.cta .ctaButton:hover {
  background-color: var(--dark-orange);
}

.loadMessage {
  position: fixed;
  top: calc(50% - 30px);
  width: 100vw;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}
