.colorTextPrimary {
  color: var(--color-text-primary);
}

.colorTextSecondary {
  color: var(--color-text-secondary);
}

.colorTextEmphasis {
  color: var(--color-text-emphasis);
}

.colorTextDisabled {
  color: var(--color-text-disabled);
}

.colorTextSubtle {
  color: var(--color-text-subtle);
}

.colorTextNeutral {
  color: var(--color-text-neutral);
}

.colorTextError {
  color: var(--color-text-error);
}

.fontSizeXsmall {
  font-size: var(--font-size-xsmall);
}

.fontSizeSmall {
  font-size: var(--font-size-small);
}

.fontSizeMedium {
  font-size: var(--font-size-medium);
}

.fontSizeLarge {
  font-size: var(--font-size-large);
}

.fontSizeXlarge {
  font-size: var(--font-size-xlarge);
}

.fontSizeXxlarge {
  font-size: var(--font-size-xxlarge);}

.fontWeightBold {
  font-weight: var(--font-weight-bold);
}

.fontWeightNormal {
  font-weight: var(--font-weight-normal);
}

.defaultTextDecoration {
  text-decoration: var(--default-text-decoration);
}

.scratchTextDecoration {
  text-decoration: var(--scratch-text-decoration);
}