* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font: 400 1rem sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}