:root {
  --color-text-primary: #000000;
  --color-text-secondary: #515151;
  --color-text-emphasis: #9222DC;
  --color-text-disabled: #878787;
  --color-text-subtle: #9B9B9B;
  --color-text-neutral: #CCCCCC;
  --color-text-contrast: #FFFFFF;
  --color-text-error: #DE1616;
  --font-size-xsmall: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-xlarge: 20px;
  --font-size-xxlarge: 22px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --default-text-decoration: none;
  --scratch-text-decoration: line-through;
  --border-radius-small: 4px;
  --color-border-emphasis: #9222DC;
  --color-border-error: #DE1616;
  --color-border-default: #CCCCCC;
  --color-border-active: #000000;
  --color-border-disabled: #878787;
  --backgroundColor-button-primary: #9222DC;
  --backgroundColor-button-success: #000000;
}

@media (min-width: 768px) {
  :root {
    --font-size-xsmall: 14px;
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-size-xlarge: 22px;
    --font-size-xxlarge: 24px;
  }

  body {
    display: flex;
    justify-content: center;
  }

  body #__next {
    max-width: 500px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font: 400 1rem 'Arial', sans-serif;
}
