@use './variables.scss' as var;


.font-primary {
  color: var.$primary-color;
}

.font-bold {
  font-weight: bold;
}

.grid-auto-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
}
