@use './variables.scss' as var;

@mixin displayGrid($columns: 12, $gutter: 1rem) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gutter;
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin border() {
  border: 1px solid var.$border-color;
  border-radius: var.$border-radius;
}
