@import 'button';

.form {
    height: auto;
    width: calc(100% - 20px);

    > h6 {
        color: #999;	
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 14px;			
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
}

.input-field__wrapper {
    width: calc(100% - 40px);
    height: auto;
    margin-bottom: 25px;

    &:nth-child(3) {
        width: 40%;
        margin-right: 20px;

        .input-field {
            width: 100%;
        }
    }

    &:nth-child(4) {
        width: 40%;

        .input-field {
            width: 100%;
        }
    }

    label {
        width: 262px;
        color: #CCC;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;	
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        margin-bottom: 5px;
    }
}

.input-field {
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
    padding-left: 5px;
}
