@import '../../sass/mixins.scss';

.bag-step {
  padding: 20px 6.53px 232px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.bag-action {
  margin: 0 -6.53px;
  padding: 0 20px 24px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bag-button {
  @include checkout-button();
}