@import '../../sass/mixins.scss';

.bag-step {
  padding: 20px 6.53px 0;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.bag-action {
  margin: 0 -6.53px;
  padding: 0 20px 24px;
  background-color: #fff;
}

.bag-button {
  @include checkout-button();
}