@import "styles";

.container {
    width: 100%;
    background-color: $c-bg-light;
    padding: 0.4em;
    margin-bottom: 0.8em;
    max-height: 60vh;
    overflow-y: auto;
    @include device(desktop) {
        width: 60%;
    }
}
.list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.item {
    width: 100%;
    color: $c-text-dark;
    font-size: rem(13);
    padding: 0.4em;
    margin: 0.4em auto;
    border: 1px solid $c-border-light;
    border-radius: $s-radius;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.8em;
}
.productImage {
    max-width: 65px;
    grid-column: 1/1;
    grid-row: 1/9;
    align-self: center;
    @include device(desktop) {
        max-width: 100%;
    }
}

.productName {
    grid-column: 2/9;
    grid-row: 1/6;
}

.productPrice {
    font-weight: bold;
    grid-column: 2/9;
    grid-row: 6/8;
    justify-self: end;
}
