.Container,
.PriceContainer {
  display: flex;
  align-items: center;
}

.Container {
  margin-bottom: 40px;
  justify-content: space-between;
}

.Container:first-child {
  margin-top: 8px;
}

.PriceContainer {
  margin-left: 15px;
  flex-direction: column;
}

.MaxPrice {
  margin-bottom: 4px;
}

.ProductImage {
  margin-right: 15px;
}

.ProductName {
  line-height: 16px;
}