.success {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.imgTitle {
  margin: 12px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 39.51px;
  color: #ff7800;
  margin-bottom: 11.06px;
}

.titleText {
  color: #ff7800;
}

.paymentData {
  display: flex;
  flex-direction: column;
  padding: 14px 10px 14px 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 29, 0.22);
}
