@import "styles";

.heading {
    color: $c-text-heading;
    font-size: rem(14);
    font-weight: bolder;
    padding: 0.2em;
    margin-top: 0.5em;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
    @include device(desktop) {
        font-size: rem(16);
    }
}
