* {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-shadow: unset;
  margin: 0;
  padding: 0;
  text-decoration: unset;
}

.App {
  text-align: center;
  background: hsl(0, 0%, 95%);
  width: 100vw;
  height: 100vh;
}

