.confirmation-msg {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.confirmation-msg p {
  margin-top: 8px;
}

.confirmation-msg svg {
  width: 38px;
}

.confirmation-info {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 93%);
  font-size: calc(10px + 1vmin);
  border-radius: 3px;
  margin: 3px 0 calc(15px + 1.389vmin);
  box-shadow: 0 1px 3px rgba(35, 26, 26, 0.2);
  padding: 10px;
}

.confirmation-info p {
  text-align: left;
  text-transform: uppercase;
}
