.title {
  padding-top: 15px;
  padding-left: 20px;
  /* margin-bottom: 10px; */
  font-weight: bolder;
  color: #999999;
}

.button {
  max-width: 600px;
  padding: 20px;
  /* margin-top: 10px; */
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  /* align-items: center; */
  font-weight: bolder;
  border-style: outset;
  font-size: 20px;
  display: flex;
  background-color: #ff6c00;
  color: #fff6ef;
  width: 90%;
  justify-content: center;
  border: none;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 10px #999898;
}

.form {
  padding: 0px;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  align-items: center;
  border: solid #eeeeeefa;
  border-radius: 5px;
  /* height: 100%; */
  height: 275px;
  align-content: space-between;
  background-color: #ffffff;
  box-shadow: 1px 3px 5px #c2c0c0fa;
  margin-bottom: 25px;
  /* display: inline-block; */
}

.Card {
  margin-bottom: 20px;
}

.input,
.inputName,
.inputVal,
.inputVali {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border: solid #d6d5d5fa;
  border-width: 1px;
  /* align-content: space-between; */
  width: 90%;
  margin: 0 auto;
  color: #cccccc;
}

::placeholder {
  color: #cccccc;
}

.header {
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  color: #cccccc;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 12px;
  box-shadow: 0.5px 0.5px 15px #999898;
}

.cart {
  color: #ff7800;
}

.card {
  padding-top: 10px;
}

.cardNumber,
.cardName,
.cardYear,
.cardCVV {
  /* padding-top: 10px; */
  color: #cccccc;
  font-size: 13px;
  font-weight: bolder;
  padding-left: 2%;
}

.inputVali,
.cardYear {
  float: left;
}

.inputVal {
  flex-wrap: wrap;
  float: right;
}

.cardCVV {
  float: right;
  margin: 0 auto;
  margin-right: 15px;
}

.cardYear,
.cardCVV {
  display: grid;
  width: 40%;
}

.total {
  margin-bottom: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
}

.validationCVV {
  background-color: red;
}
