.title {
  padding-top: 15px;
  padding-left: 20px;
  /* margin-bottom: 10px; */
  font-weight: bolder;
  color: #999999;
}

.button {
  padding: 20px;
  font-weight: bolder;
  border-style: outset;
  font-size: 20px;
  margin: 10px;
  display: flex;
  background-color: #ff6c00;
  color: #fff6ef;
  width: 94%;
  justify-content: center;
  border: none;
  border-radius: 3px;
}

.form {
}

.form {
  padding: 10px;
  margin: 10px;
  align-items: center;
  border: solid black;
  border-radius: 5px;
  /* display: inline-block; */
}

.cardName {
  /* display: inline-block; */
}

.input {
  display: block;
}
