.container-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fd861d;
}

svg {
    margin: 8px;
    font-size: 3em;
}

.text {
    color: #fd861d;
    margin-bottom: 15px;
    font-size: 14px;
}