.headerButton {
  background-color: #fff;
  border: none;
  height: 100%;
  width: calc(100% / 3);
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 1000;
  color: #ccc;
  font-family: helvetica;
}

.headerButton:hover {
  color: #ff7800;
}

.header {
  height: 5vh;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 29, 0.22);
}
