.confirmation {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 10px;
}

.confirmation .status {
  color: #FF7800;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  margin-top: 20px;
}

.confirmation .status img {
  border: 1px solid #FF7800;
  border-radius: 90px;
  margin-bottom: 10px;
  width: 36px;
  height: 36px;
}

.confirmation .information {
  background: white;
  box-shadow: 1px 1px 5px 0 rgba(0,0,29,0.22);
  border-radius: 3px;
  color: #212121;
  padding: 10px;
  margin-bottom: 25px;
}

.confirmation .information p {
  font-size: 14px;
  line-height: 17px;
}
