.header {
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  color: #cccccc;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 12px;
  box-shadow: 0.5px 0.5px 15px #999898;
}
