.product-item {
  color: hsl(0, 0%, 0%);
  border: 1px hsl(0, 0%, 93%) solid;
  border-radius: 3px;
  margin: 12px;
  font-size: calc(10px + 1.1vmin);
  padding: 14px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}

.product-item .product-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item .product-item-image img {
  width: 64px;
  height: 64px;
}

.product-item .product-item-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.product-item .product-item-name {
  text-align: left;
  font-size: calc(8px + 1.3vmin);
  margin-left: calc(5px + 1.2vmin);
}

.product-item .product-item-price {
  font-weight: 600;
  text-align: right;
  align-self: flex-end;
  justify-self: flex-end;
}
