.product-list .product-list-container {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 3px;
  margin: 3px 0 calc(15px + 1.389vmin);
  box-shadow: 0 1px #FFFFFF inset, 0 1px 2px rgba(35, 26, 26, 0.4);
}

