.product,
.freight,
.discount,
.subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0.5px 15px 0.5px;
}

.product {
  padding-top: 15px;
}

.subtotal {
  padding-bottom: 10px;
}

.discount {
  color: #ff6c00;
  margin-bottom: 20px;
}

.subtotal {
  font-weight: bolder;
}

.total {
  padding: 0px;
  margin-bottom: 10px;
  font-size: medium;
  margin: auto;
  border: solid #cccccc;
  border-width: 1px;
  border-radius: 3px;
  max-width: 90%;
  max-width: 600px;
  align-items: center;
  justify-content: space-between;
}
