/*
  Brand  
*/
$c-brand: #ff6c00;

/*
  Background
*/
$c-bg-grey-light: #eeeeee;
$c-bg-dark: #383935;
$c-bg-light: #ffffff;

/*
  Buttons
*/
$c-button-enable: $c-brand;
$c-button-hover: #d45a00;

/*
  Borders
*/
$c-border-line: #e5e5e5;

/*
 Box-Shadows
*/
$c-box-dark: #0d0d0d;
$c-box-light: #272626;

/*
  Texts
*/
$c-text-brand: #FF7800;
$c-text-dark: #383935;
$c-text-light: #ffffff;
$c-text-inactive: #cccccc;

/*
  Colors  
*/
$c-ice: #f5f5f5;
$c-silver: #e7e7e7;
$c-dark-middle: #484747;
$c-grey: #aaaaaa;
$c-grey-dark: #807f7f;
$c-grey-light: #fbfbfb;
$c-white-medium: #f0f0f0;
