@import "styles";

.area {
    grid-area: paymentData;
    width: 100%;
    align-self: start;
    margin: auto;
}
.container {
    width: 100%;
    padding: 0.4em;
    border-radius: $s-radius;
    background-color: $c-bg-light;
}

.item {
    font-size: rem(14);
    margin-bottom: 0.5em;
}
