body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Aria', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  height: 100vh;
  background-color: #eeeeee;
}

a {
  text-decoration: none !important;
}

@media screen and (min-width: 1024px) {
  body {
    width: 70%;
    margin: 0 auto;
  }

  .main {
    height: 90vh;
  }
}
