@use "sass:map";

@mixin device($point, $value: 0) {
  @if $point==smallPhone {
    @media only screen and (max-width: map.get($breakpoints, "phone")) {
      @content;
    }
  } @else if $point==phone {
    @media only screen and (min-width: map.get($breakpoints, "phone")) and (max-width: map.get($breakpoints, "largePhone")) {
      @content;
    }
  } @else if $point==largePhone {
    @media only screen and (min-width: map.get($breakpoints, "largePhone")) and (max-width: map.get($breakpoints, "tablet")) {
      @content;
    }
  } @else if $point==tablet {
    @media only screen and (min-width: map.get($breakpoints, "tablet")) and (max-width: map.get($breakpoints, "laptop")) {
      @content;
    }
  } @else if $point==laptop {
    @media only screen and (min-width: map.get($breakpoints, "laptop")) and (max-width: map.get($breakpoints, "monitor")) {
      @content;
    }
  } @else if $point==monitor {
    @media only screen and (min-width: map.get($breakpoints, "monitor")) and (max-width: map.get($breakpoints, "tv")) {
      @content;
    }
  } @else if $point==tv {
    @media only screen and (min-width: map.get($breakpoints, "tv")) {
      @content;
    }
  } @else if $point==mobile {
    @media only screen and (max-width: map.get($breakpoints, "mobile")) {
      @content;
    }
  } @else if $point==desktop {
    @media only screen and (min-width: map.get($breakpoints, "desktop")) {
      @content;
    }
  } @else {
    @media only screen and ($point: $value) {
      @content;
    }
  }
}

@mixin placeholder($color, $opacity: 1) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color;
    opacity: $opacity;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    opacity: $opacity;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $color;
    opacity: $opacity;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    opacity: $opacity;
  }
}
