@use 'src/styles/variables' as var;
@use 'src/styles/mixins' as mixin;

.orderSummary {
  @include mixin.displayGrid(1, 1rem);
  @include mixin.border();
  font-size: var.$font-size-lg;
  margin: 8px;
  background-color: var.$light-color;
  padding: 28px;
  &__item {
    @include mixin.flex(row, space-between, center);
  }
}
