@import '../../sass/mixins.scss';

.success-card {
  @include box-base();
  @include list-base();
  @include tipografy-base();
  padding: 24px 12px;
  max-width: 600px;
  margin: 0;
  margin-bottom: 20px;
  & h1 {
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
  }
  & p {
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #515151;
  }
}
