.successContainer {
	text-align: center;
	color: #d65801;
	margin-bottom: 20px;
}

.successCheck {
	font-size: 40px;
}

.checkContainer {
	margin: 15px auto;
	width: 40px;
	height: 40px;
	border: solid 3px;
	border-radius: 25px;
}
