/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background: #eee;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	max-width: 960px;
	margin: 0 auto
}

nav {
  background: white;
  box-shadow: 1px 1px 5px 0 rgba(0,0,29,0.22);
  color: #CCC;
  font-size: 13px;
  font-weight: bold;
  min-height: 40px;
  align-items: center;
  text-transform: uppercase;
  text-align: center
}

nav .active {
  color: #FF7800
}

h1 {
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin: 15px 0 5px 10px;
}

button {
  background: #FF6C00;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  border: 0;
  border-radius: 3px;
  padding: 18px 0;
  box-shadow: inset 0 -3px 0 0 #D45A00, 0 2px 4px 0 rgba(0,0,0,0.25);
  cursor: pointer;
}

button:hover {
  background: #D45A00;
}

button:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}
