@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url(./assets/fonts/HelveticaNeue.ttf) format('ttf');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 700;
  src: local('Helvetica'), url(./assets/fonts/HelveticaNeueBd.ttf) format('ttf');
}