.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-container {
  padding: 10px 10px;
}

@media only screen and (min-width: 900px) {
  .app-container {
    width: 80%;
    margin: 0 auto;
  }
}
