@import './styles/helpers.scss';

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
