body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
  padding: 50px 15px 0 15px;
}

code {
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
}

.hidden {
  display: none;
}

.btn {
  background: #fc6e02;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 15px 30px 10px 30px;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 0px #fc6e02;
  box-shadow: 0px 4px 0px #fc6e02;
  width: 100%;
  max-width: 400px;
}

.btn:hover {
  background: #d35a00;
}

.btn[disabled]{
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}