body {
  margin: 0;
  padding: 0;
  font-family: "helveticaneueregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "#EEE";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiTab-textColorPrimary-140.MuiTab-selected-142 {
  color: #FF7800 !important;
}
