@import "styles";

.container {
    width: 100%;
    background-color: $c-bg-light;
    padding: 0.8em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: z(progressBar);
}
.list {
    display: flex;
    justify-content: space-between;
}
.item {
    color: $c-text-inactive;
    font-size: rem(13);
    font-weight: bolder;
    padding: 0.2em;
}
.isActive {
    color: $c-text-brand;
}
