.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: #726b6b;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.container {
  margin-left: 8px;
  margin-right: 8px;
}

.products {
  display: flex;
  gap: '10px';
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p {
  letter-spacing: 0.27px;
  font-size: 12px;
  line-height: 16px;
}

.discount-price {
  text-decoration: line-through;
  color: #cccccc;
}
