.Tab {
  border: none;
  height: inherit;
  padding: 0 12px;
  font-size: var(--font-size-small);
  color: var(--color-text-disabled);
  background-color: transparent;
  border-bottom: 1px solid var(--color-border-disabled);
}

.ActiveTab {
  border: none;
  color: var(--color-text-primary);
  height: inherit;
  padding: 0 12px;
  font-size: var(--font-size-small);
  background-color: transparent;
  border-bottom: 4px solid var(--color-border-active);
}