@import '../../sass/mixins.scss';

.payment-step {
  padding: 20px 6.53px 0;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.payment-button {
  @include checkout-button();
}

.payment-button-disabled {
  @include checkout-button();
  opacity: 0.7;
}

.payment-action {
  margin: 0 -6.53px;
  padding: 0 20px 24px;
  background-color: #fff;
}