html,
body {
    font-family: $f-main;
    background-color: $c-bg-grey-light;
    overflow-x: hidden;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include device(smallPhone) {
        font-size: 1rem;
    }
    @include device(phone) {
        font-size: 1.05rem;
    }
    @include device(largePhone) {
        font-size: 1.1rem;
    }
    @include device(tablet) {
        font-size: 1.15rem;
    }
    @include device(laptop) {
        font-size: 1rem;
    }
    @include device(monitor) {
        font-size: 1.5rem;
    }
    @include device(tv) {
        font-size: 1.1rem;
    }
}
