@import './colors';

.botao {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background: $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25), #D45A00 0 -3px 0 inset;
  border-radius: 3px;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    max-width: 340px;
    margin-right: 0;
    margin-left: auto;
  }
}
