$primaryColor: #FF7800;
$lightGrayColor: #EEEEEE;
$mediumGrayColor: #E7E7E7;
$grayColor: #CCCCCC;
$darkGrayColor: #999999;
$graphiteColor: #212122;
$inputColors: #E0E7EE;
// Box Shadow
$boxShadow: 1px 1px 5px rgba(0,0, 29, .22);
