@import './colors';

.container {
  width: 100%;
  max-width: 980px;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  &__content {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__flex-desktop {
    @media screen and (min-width: 768px) {
      display: flex;
      div {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
      .container {
        min-height: 100%;
        margin-bottom: 20px;
        .card {
          min-height: calc(100% - 29px);
        }
      }
    }
  }
}
.card {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0;
  padding: 12px;
  background: #fff;
  border-radius: 3px;
  box-shadow: $boxShadow;
  margin-bottom: 20px;
  &--outline {
    background: none;
    border: 1px solid $grayColor;
    background: $lightGrayColor;
  }
}
